<ul class="table-view">
    <li class="table-view-cell media" ng-repeat="bar in bars">
        <a href="#/bars/{{$index}}" class="navigate-right"><h1>Example</h1></a>
            <div class="media-body">
                {{bar.name}}
                <p>{{bar.description}}</p>
            </div>
        </a>
    </li>
</ul>