<ul class="table-view">
    <li class="table-view-cell media" ng-repeat="item in dashcontent">
        <a class="navigate-right">
            <div class="media-body">
                {{item.name}}
                <p>{{item.content}}</p>
            </div>
        </a>
    </li>
</ul>