<ul class="table-view">
    <li class="table-view-cell">Username</li>
    <li class="table-view-cell table-view-cell">Password</li>
    <li class="table-view-divider">Privacy</li>
    <li class="table-view-cell">
        Notifications
        <div class="toggle">
            <div class="toggle-handle"></div>
        </div>
    </li>
    <li class="table-view-cell">
        Twitter mentions
        <div class="toggle active">
            <div class="toggle-handle"></div>
        </div>
    </li>
    <li class="table-view-cell">
        Enable public profile
        <div class="toggle">
            <div class="toggle-handle"></div>
        </div>
    </li>
</ul>