<!doctype html>
<html ng-app="decentpint">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Decent Pint</title>
    <link rel="stylesheet" href="bower_components/ratchet/dist/css/ratchet.css">
    <link rel="stylesheet" href="bower_components/ratchet/dist/css/ratchet-theme-ios.min.css">
    <link rel="stylesheet" href="bower_components/snapjs/snap.css">
    <link rel="stylesheet" href="assets/css/app.css">
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="bower_components/snapjs/snap.js"></script>
    <script type="text/javascript" src="js/app/app.js"></script>
    <script type="text/javascript" src="js/app/routing.js"></script>
    <script type="text/javascript" src="js/app/run.js"></script>
    <script type="text/javascript" src="js/controllers/mainController.js"></script>
    <script type="text/javascript" src="js/controllers/dashboardController.js"></script>
    <script type="text/javascript" src="js/controllers/loginController.js"></script>
    <script type="text/javascript" src="js/controllers/barController.js"></script>
    <script type="text/javascript" src="bower_components/ratchet/dist/js/ratchet.js"></script>
    <script type="text/javascript" src="bower_components/ratchet/js/toggles.js"></script>
    <script type="text/javascript" src="bower_components/ratchet/js/modals.js"></script>
</head>
<body ng-controller="mainController">

<div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left" id="left-drawer">
        <ul class="table-view">
            <li class="table-view-cell" ng-repeat="item in menu">
                <a class="navigate-right" href="{{item.path}}" onclick="snapper.close()">
                    {{item.name}}
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="content" class="snap-content">

    <!-- Static header nav -->
    <header class="bar bar-nav">
        <h1 class="title">Decent Pint</h1>
        <a class="icon icon-bars pull-left" ng-show="!notHome()" id="toggle-left"></a>
        <button class="btn btn-link btn-nav pull-left" ng-show="notHome()" ng-click="back()">
            <span class="icon icon-left-nav"></span>
            Back
        </button>
    </header>
    <!-- End static header nav -->

    <!-- Ratchet scrollable content - ng-view controls template loading -->
    <div class="content">
        <div ng-view class="slide"></div>
    </div>
    <!-- End scrollable content -->
</div>

<!-- SnapJS controll logic must go at page bottom -->
<script type="text/javascript" src="js/features/snapper.js"></script>

</body>
</html>